@{
    ViewData["Title"] = "WeatherForecast";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<div class="container">
    <div class="row">

        <span style="font-size:30px;background-color:rebeccapurple;color:white;">İZMİR HAVA DURUMU : @ViewBag.temperature</span>

    </div>
</div>
